extdirect/langs/en_US/mobilid.lang
extdirect/langs/es_ES/mobilid.lang
extdirect/langs/fr_FR/mobilid.lang
extdirect/langs/nl_NL/mobilid.lang
DolibarrExtdirect.phpproj
.vs/config/applicationhost.config
.vs/DolibarrExtdirect/v14/.suo
DolibarrExtdirect.sln
WebEssentials2015-Settings.json