extdirect/langs/en_US/mobilid.lang
extdirect/langs/es_ES/mobilid.lang
extdirect/langs/fr_FR/mobilid.lang
extdirect/langs/nl_NL/mobilid.lang
extdirect/langs/it_IT/mobilid.lang
.vscode/*
extdirect/langs/en_GB/mobilid.lang
extdirect/langs/de_DE/mobilid.lang
extdirect/langs/ro_RO/mobilid.lang
makepack-ExtDirect.conf